.Header-image 
    margin: 0
    img
        width: 171px
        height: 171px

.Header
    background-color: color-secundario;
    width: 100%;
    padding: 10px 30px;
    box-shadow: 60px -16px rgba(0, 0, 0, 0.35); 
    &-title
        margin: 0px
    &-jobTitle
        margin-top: 0px;
    &-phone
        margin: 0px 0px 10px 18px;
        display: inline-block;
        margin-left: 0px;
    &-email
        margin: 0px 0px 10px 18px;
        display: inline-block;
    &-website
        margin: 0px 0px 10px 18px;
        display: inline-block;
    &-adress
        margin: 0px 0px 10px 18px;
        display: block;
        margin-left: 0px;
        




// @media (max-width:1100px) {
//     .Header-adress {
//         margin-left: 0px;
//         display: inline-block;
//     }

// }

// @media (max-width:1099px) {
//     .Header-website {
//         margin: 18px 0px;
//     }
//     .Header-adress {
//         margin-left: 18px;
//         display: inline-block;
//     }

// }