.Academic-item 
    width: 90%;
    min-height: 180px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: color-claro;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    p
        margin: 0;


