.Interest 
    grid-area: areaF
    padding: 0 130px
    &-title
        color: color-primario
    &-container 
        list-style: none
        li 
            display: flex
            align-items: center
            height: 30px
        li::before 
            content: "·"
            color: color-primario
            font-size: 60px




@media (min-width:1500px) 
    .Interest
        padding: 0 250px
