@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap')

color-primario = rgb(33, 157, 161)
color-secundario = #6EBFC2
color-claro = #fffff
Fuente1 = 'Source Sans Pro', sans-serif

@import '../styles/containers/App.styl'
@import '../styles/components/Header.styl'
@import './components/About.styl'
@import '../styles/components/Profile.styl'
@import '../styles/components/Experience.styl'
@import '../styles/components/ExperienceItem.styl'
@import '../styles/components/Academic.styl'
@import '../styles/components/AcademicItem.styl'
@import '../styles/components/Skills.styl'
@import '../styles/components/Interest.styl'
@import '../styles/components/Languages.styl'


body 
  font-family: Fuente1
  margin: 0



